// Add some resets

.row {
  height: 150px;
}

img {
  width: 100px;
  height: 100px;
}
header {
  grid-area: header;
}

main {
  grid-are: main;
}

.container {
  display: grid;
  grid-template-rows: 150px 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer"
}
