// Add some resets

.row {
  height: 150px;
}

img {
  width: 100px;
  height: 100px;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  width: 80%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.container {
  display: grid;
  justify-items: center;
  grid-template-rows: 150px auto 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer"
}
