.row {
  height: 160px;
}

img {
  width: 100px;
  height: 100px;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  width: 80%;
}

footer {
  grid-area: footer;
  align-self: end;
}

.row {
  display: flex;
  justify-content: space-between;
}

.container {
  display: grid;
  justify-items: center;
  align-content: end;
  grid-template-rows: 150px 1fr 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
}

.lightbox {
  &--container {
    display: none;

    &__active {
      display: block;
      background: rgba(0, 0, 0, 0.85);
      z-index: 10;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    & {
    }
  }
  &--image {
    &__active {
    }
  }
}
