header {
  grid-area: header;
}

main {
  grid-area: main;
  width: 80%;

  .row {
    display: flex;
    height: 160px;
    justify-content: space-between;
  }

  .thumbnail {
    img {
      height: 100px;
      width: 100px;
    }
  }
}

footer {
  align-self: flex-end;
  grid-area: footer;
}

.container {
  display: grid;
  justify-items: center;
  align-content: end;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px 1fr 100px;
}

.lightbox {
  &--container {
    display: none;
    background: rgba(0, 0, 0, 0.95);
    color: white;
    font-size: 24px;
    height: 100%;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10;

    &__active {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    img {
      box-sizing: border-box;
      height: auto;
      margin: 2%;
      max-height: 88vh;
      max-width: 100%;
      width: auto;
    }
  }

  &--image-container {
    display: flex;
    align-content: center;
    flex-flow: column nowrap;
    height: 100vh;
    justify-content: center;
  }

  &--title {
    max-height: 10vh;
  }

  &--button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    height: 50px;
    width: 50px;

    &:hover {
      background: rgba(255, 255, 255, 0.15);
    }

    &__close {
      border-radius: 50%;
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
}
